<!DOCTYPE html>
<html>
<head>
  <title>ZinMatics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>_controller" class="<%= action_name %>">
<%= render 'nav' %>

<%= yield %>

</body>
</html>
